@page 


@{
    
    
    var recipes = RecipesService.GetAll();
}

@section Title {
    <h2 class="title">My Favourite Recipes</h2>
    <a asp-page="/Admin/AddEditRecipe" class="add-recipe btn btn-primary">Add Recipe</a>
}


        <div class="row recipes">
           

            @foreach (var recipe in recipes)
            {
                <div class="recipe col-md-4">
                    <img class="img img-thumbnail" src="@recipe.GetInlineImageSrc()"/>
                    <h3><a asp-page="/Recipe" asp-route-id="@recipe.Id">@recipe.Name</a></h3>
                    <p>@recipe.Description</p>
                </div> @*Metodo usando tag helpers asp-page e asp route, com o asp-route podendo rececber no final a string que sera localizada na rota*@
            }
        </div>

    

